*.suo
.vs/
obj/
bin/
packages/
ralibrary.csproj.user
!ralibrary/Migrations/Configuration.cs
RaLibrary/Properties/PublishProfiles/
RaLibrary.Data.csproj.user
RaLibrary.Utilities.csproj.user
RaLibrary.Data/Migrations/**
!RaLibrary.Data/Migrations/Configuration.cs
